{% extends 'layout.html' %}

{% block body %}

<table border="1" id="mytable">
<tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
    <td></td>
</tr>
</table>
    <button onclick="sendRemoveRequest(5)">Remove!</button>

    <script>
        (function() {
        $.getJSON('/api/users',{})
                .fail(function(){
                    console.log("wtf???")
                })
                .done(function(data){
                        $.each(data, function(i, val){
                            console.log("item:" + i);
                            $("#mytable").find("tr:last").after("<tr>" + "<td>" + val['id'] + "</td>"
                                             + "<td><a href = '/user/" + val['id'] + "'>" + val['name'] + "</a></td>"
                                             + "<td>" + val['address'] + "</td>"
                                             + "<td>" +
                            '<button onclick="sendRemoveRequest(' + val['id'] + ')">Remove</button></td></tr>');
                        });
                })
        })();
        sendRemoveRequest = function(i) {
            alert("removing" + i);
            $.post('/api/remove/' + i).done(function () {
                location.reload();
            });
        }
    </script>

{% endblock %}